<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CNN</title>
</head>
<body>
{% for title in titles %}
    <li><a href="/cnn?article={{ title }}/">{{ title }}</a></li>
{% endfor %}
</body>
</html>